$breakpointsDown: (
  'sm': (
    max-width: $sm,
  ),
  'md': (
    max-width: $md,
  ),
  'lg': (
    max-width: $lg,
  ),
  'xl': (
    max-width: $xl,
  ),
  'xxl': (
    max-width: $xxl,
  ),
);
$breakpointsUp: (
  'sm': (
    min-width: $sm + 1px,
  ),
  'md': (
    min-width: $md + 1px,
  ),
  'lg': (
    min-width: $lg + 1px,
  ),
  'xl': (
    min-width: $xl + 1px,
  ),
  'xxl': (
    min-width: $xxl + 1px,
  ),
);
@mixin breakpoint-down($breakpoint) {
  $raw-query: map-get($breakpointsDown, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin breakpoint-up($breakpoint) {
  $raw-query: map-get($breakpointsUp, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin truncate-oneline() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin truncate-multiline($line-number) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-number;
  -webkit-box-orient: vertical;
}

@mixin card() {
  width: calc(100% - 32px);
  height: calc(100% - 88px);
  display: block;
  box-sizing: border-box;
  padding: 26px;
  padding-bottom: 24px;
  background-color: $white;
  border-radius: 24px;
  margin: 24px auto;
  max-width: 1532px;
  @include breakpoint-up('sm') {
    min-height: 300px;
  }
}

@mixin tooltip() {
  max-width: 400px;
  width: fit-content;
  transform: translateX(-50%);
  padding: 5px 10px;
  color: $white;
  background-color: $rgbTertiary;
  font-weight: normal;
  font-size: $font-size-2sm;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px $rgbTertiary;
  display: none;
  font-size: $font-size-2xs;
  p {
    word-break: break-all;
    margin: 0;
  }
}

@mixin commonPadding() {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  @include breakpoint-up('sm') {
    padding-left: 110px;
    padding-right: 110px;
  }
  @include breakpoint-up('md') {
    padding-left: 220px;
    padding-right: 220px;
  }
}

@mixin fontTitle() {
  //styleName: SP/Title;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 500;
}

@mixin fontTitleBold() {
  //styleName: SP/TitleBold;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
}

@mixin fontSubTitle() {
  //styleName: SP/SubTitle;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 400;
}

@mixin fontSubTitleBold() {
  //styleName: SP/SubTitle_Bold;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

@mixin fontParagraphBold() {
  //styleName: SP/p_Bold;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 700;
}

@mixin fontParagraph() {
  //styleName: SP/p;
  //styleName: PC/Strong_p;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
}

@mixin fontParagraphSub() {
  //styleName: SP/sub;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
}

@mixin fontParagraphSubBold() {
  //styleName: SP/sub_Bold;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 700;
}

@mixin fontCaption() {
  //styleName: Common/⭐️caption;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
}

@mixin fontCaptionBold() {
  //styleName: Common/caption_Bold;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 700;
}

@mixin fontTag() {
  //styleName: SP/Tag;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 500;
}

@mixin fontStrongParagraph() {
  //styleName: PC/Strong_p;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
}

@mixin subTitleBoldFontPC() {
  //styleName: PC/SubTitle_Bold;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
}

@mixin subTitleFontPC() {
  //styleName: PC/SubTitle_Bold;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
}

@mixin fontParagraphSubPC() {
  //styleName: PC/sub;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

@mixin fontParagraphSubBoldPC() {
  //styleName: PC/sub;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
}

@mixin fontTitleBoldPC() {
  //styleName: PC/TitleBold;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 180%;
}

@mixin paragraphFontPC() {
  //StylesName: PC/p
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

@mixin paragraphFontBoldPC() {
  //StylesName: PC/p
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
}

@mixin subTitleFontPC() {
  //StylesName: PC/SubTItle
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
}

@mixin strongTitlePC() {
  //StylesName: PC/StrongTitle
  font-family: $bodyFont;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 180%;
}

@mixin strongTitleFontWeightNormalPC() {
  //StylesName: PC/StrongTitle
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 180%;
}
