//----------------------------------
// Font Family
//----------------------------------
$titleFont: 'Noto Sans JP';
$bodyFont: 'Noto Sans JP';
//----------------- -----------------
// Font Size
//----------------------------------
$font-size-xs: 10px;
$font-size-2xs: 11px;
$font-size-sm: 12px;
$font-size-2sm: 13px;
$font-size-base: 14px;
$font-size-2base: 15px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 40px;
$font-size-h2: 32px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
//----------------------------------
// Browser
//----------------------------------
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
//----------------------------------
// hover
//----------------------------------
$hoverOpacity: 0.5;
//----------------------------------
// Color
//----------------------------------
// BrandColor
$brandPrimary: #ff6b00;
$brandSecondary: #f69850;
$brandTertiary: #f9a578;
// State
$error: #ff4b4b;
$success: #59a7d7;
// Text
$textPrimary: #000;
$textSub: #8a8a8d;
$textSubPale: #c4c4c6;
$white: #fff;
$textRed: #661e1e;
// Background
$bgPrimary: #f8f6ef;
$bgFooter: rgba(23, 23, 21, 0.05);
$bgAvatar: #bdbdbd;
$bgLabel: #f9f9f9;
$bgSecondary: #d5d5d5;
$bgRed: #ffeded;
$bgLogoAlt: #f8f6ef;
$bgYellow: #feaf00;
// Border
$BorderPrimary: #cfcfcf;
$BorderPale: #eeeeee;
$BorderGrey: #e0e4e8;
// Other
$white: #fff;
$placeholder: #b5b5b5;
$barText: #5eaff2;
$barBackground: #dfeffc;
$basicLink: #f97026;
$dividerDark: #3d3d40;
$bgComment: rgba(
  $color: #f97026,
  $alpha: 0.05,
);
$checkOk: #69c56b;
// calendar
$bluePale: #5eaff2;
$redPale: #ff4b4b;
// Old
$errorBackground: rgba(255, 75, 75, 0.15);
$layerBackground: rgba(255, 255, 255, 0.6);
$shadowBorder: 0px 0px 10px rgba(0, 0, 0, 0.15);
$rgbPrimary: rgba(0, 0, 0, 0.15);
$rgbSecondary: rgba(0, 0, 0, 0.04);
$rgbTertiary: rgba(97, 97, 97, 0.9);
$rgbGray: rgba(23, 23, 21, 0.4);
// Border radius
$radiusBox: 24px;
//Link color
$link: #3e95f7;
$linkVisited: #5b60a6;
